:root {
	--primary:#E7EBF0;
	--secundary: #cfdeec;
	--secundary2: #c4d7e9;
	--left: #203A43;
	--right: #2C5364;
	--highlights: #0F2027;
  --bordercolor : rgba(255,255,255,0.3);
	--text-size: 18px;
	--text-size2: 24px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--highlights);
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    padding: 5px;
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
  }
  
  .nav-links a:hover {
    background-color: var(--left);
    color: var(--primary);
  }
  