

.textFieldSearch, .textFieldAmountStart, .textFieldAmountEnd {
  background-color: whitesmoke;
}

.textFieldAmountStart {
  margin-right: 10px;
}

.filterBtn {
  background: var(--highlights);
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-family: Inter,Helvetica;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  border-color: #80808030;
  border-width:1px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 7px 8px;
  margin-right:3px ;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
}
.tri{
  height: 30px;
}
.table{ 
/* --borderRadius:4px; */
  /* width:100%; */
  table-layout: fixed;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  /*margin:0 auto;*/
  /* padding-bottom: 10px; */
  /* border-bottom: 2px solid grey;  */
  /* border-collapse: separate; */
  /* border-spacing: 0px 4px; */
  /* display: flex; */
  width: 100%;
  border-collapse: separate;
  margin-left: 3px;
  margin-right: 3px;
}

.tableBody {
  overflow: scroll;
  width: 100%;
}

.tableTh{
  padding: 10px 15px 0px 15px;
  text-align: center;
  font-weight: 500;
  font-size: var(--text-size2) ;
  color: var(--_primary);
  vertical-align: middle;
  white-space: nowrap;
}
.textInTh{
   color: var(--_primary);
   margin-left: 10px;
}
.statusChooser{
  background-color: whitesmoke;
  border-radius: var(--borderRadius) ;
}
.dateInput{
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
}
.amountWrapperP{
font-size: 16px;
margin: auto;
}

.amountWrapper{
flex-direction: row;
gap: 4px;
display: flex;
}
.amountWrapperInput{
max-width: 100px;
padding: 9px;
border-width: 1px;
border-color: #80808060;
margin: auto;
background-color: whitesmoke;
height: 1.5em;
border-radius: var(--borderRadius)  ;
}
.dateInputWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
}
.unSort{
  display: flex;
  vertical-align: middle;
  justify-content: center; 
  flex-direction: row;
}
 .dateInputInput{ 
height: 100%;  
line-height: revert;
font-size: 15px;
}
.dateInputA{ 
  font-size: 16px;
  text-align: start;
  margin: 0px;
}
.amountChooser{
border-radius: var(--borderRadius) ;
background-color: whitesmoke;
}
.dateTimePickerStart, .dateTimePickerEnd {
  background-color: whitesmoke;
}

.dateTimePickerStart {
  margin-bottom: 10px;
  
}

.dropList, .select {
  display: block;
}

.invalid {
  
border-radius: var(--borderRadius) ;
  border: 2px solid red;
}
.textFieldSearch{
border-radius: var(--borderRadius) ;
}
.datePickerStart, .datePickerEnd, .timePickerStart, .timePickerEnd {
  border: 2px solid greenyellow;
}

.invalidDateStart, .invalidDateEnd, .invalidTimeStart, .invalidTimeEnd {
  border: 2px solid red;
}

/* .table_responsive {
    overflow-x: auto;
    white-space: nowrap;
    background-color: aquamarine;
    width: 100%;
} */
