@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

.App1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input{
    border: none;
    background-color: rgb(229, 226, 226);
    height: 4em;
    width: 80%;
    border-radius:0.25em;
    padding: 2em;
}
input:focus{
   outline-color: rgb(32, 177, 255); 
}

.login-btn{
    width: 40%;
    font-size: large;
    height: 4.5em;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover{
  transform: scale(1.25);  
}

.hide{
    position: absolute;
    transform: scale(0);
}

.login-popup{
    position: absolute;
    height: 35em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: skyblue;
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 1.5s;
}

.hide1{
    position: absolute;
    transform: scale(0);
}

.login-unos{
    position: absolute;
    height: 35em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: skyblue;
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 1.5s;
}