*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(29, 26, 57);
    color: white;
}

h1 {
    background-color: rgb(51, 46, 104);
}

h3 {
    background-color: rgb(51, 46, 104);
}

p {
    background-color: rgb(51, 46, 104);
}

.App1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover{
    background-color: rgb(51, 46, 104);
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(50, 50, 57);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.code-input{
    border: none;
    background-color: rgb(29, 26, 57);
    height: 3em;
    width: 80%;
    border-radius:0.25em;
    padding: 1em;
    font-size: 30px;
    text-align: center;
    color: white;
}
.code-input:focus{
   outline-color: rgb(255, 193, 32);
}
.code-input::placeholder {
    color:rgb(156, 156, 156);
}
.code-container {
    display: flex;
    padding: 10px;
    background-color: rgb(51, 46, 104);
}

.verify-btn{
    width: 40%;
    font-size: large;
    height: 4.5em;
    background-color: rgb(255, 193, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    color: black;
}

.verify-btn:hover{
  transform: scale(1.25);  
}

