

.nav_bar {
  	--primary:#E7EBF0;
	--secundary: #cfdeec;
	--secundary2: #c4d7e9;
	--left: #203A43;
	--right: #2C5364;
	--highlights: #0F2027;
  --bordercolor : rgba(255,255,255,0.3);
	--text-size: 18px;
	--text-size2: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
 
  }
  
  .nav_logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--highlights);
  }
  
  
  .nav_linksLi {
    margin-right: 20px;
  }
  
  .nav_linksLi:last-child {
    margin-right: 0;
  }
  
  .nav_linksA {
    padding: 5px;
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
  }
  
  .nav_linksA:hover {
    background-color: var(--left);
    color: white;
  }
  