:root {
	--_primary:#e7ebf0;
	--secundary: #cfdeec;
	--secundary2: #c4d7e9;
	--left: #203A43;
	--right: #2C5364;
	--highlights: #0F2027; 
    --babyblue : #3FB9F2; 
  --bordercolor : rgba(255,255,255,0.3);
	--text-size: 20px;
	--text-size2: 30px;
    --paddings:50px 70px 70px 70px;
}

.h3{
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color: var(--babyblue);
    margin: 0;
}

.central{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    height: 100vh;
    background-image: url("http://localhost:3000/TransactionView/img/bckg3.png");
    background-position: center;
    background-size: cover;
}

.payment_form{
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    background-color: #2A4B80;
    padding: var(--paddings);
    border-radius: 50px;
    box-shadow: 0 0.3rem 0.7rem 0 var(--highlights);
}

.form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.input{
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    width: 70%;
    font-size: var(--text-size);
}

.button{
    color:white;
    background-color: var(--babyblue);
    border-radius: 20px;
    font-size: var(--text-size2);
    border: rgba(140, 135, 135, 0.888);
    color: white;
    align-self: center;
    border-radius: 5px;
    padding: 10px;
}

.select{
    background-color: var(--babyblue);
    color: white;
    align-self: flex-end;
     border-radius: 5px;
    padding: 7px;
    font-size: var(--text-size);
}
.selectWrap{
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    display: flex;
}
.selectWrap p{
    color: var(--babyblue) ;
    font-size: var(--text-size);

}
 