:root {
	--primary:#ffffff;
	--secundary: #E7EBF0;
	--secundary2: #cfdeec;
	--secundary3: #c4d7e9;
	--highlights2: #E8F;
	--highlights: #ff0f0f;
	--highlights3: #1e8af7;
	--text-size: 21px;
	--text-size2: 24px;
}
.transactions-root{
background-color: var(--secundary);	
}
.transaction-margin {
	padding-top: 20px;
	padding-inline: 50px;
}
.transaction-container {
	display: inline-flex;
	padding: 30px;	
	width: 100%;
    box-sizing: border-box;
	border: 1px solid var(--secundary3) ;
    border-bottom: 3px solid var(--secundary2);
	background-color: var(--primary);
	border-radius: 10px;
}
.transaction-column {

	padding-top: 5px;
	padding-bottom: 5px;
	flex: 1;
}
/*
.transaction-column:nth-child(odd) {
	background-color: #d1d9e6;
}*/
.transaction-odd-column {
	flex: 1;
	padding-top: 5px;
	padding-bottom: 5px;
}
/*
.transaction-odd-column:nth-child(even) {
	background-color: #d1d9e6;
}
*/
.transactions-header-container {
	display: inline-flex;
    box-sizing: border-box;
	width: 100%;
	padding-inline: 80px;
	background-color: var(--primary);
	border-bottom: 6px solid;
	border-color:  var(--secundary2);
}
.fakeBtn{
	flex:0.14;
}
.column {
	flex: 1;
	background-color:var(--primary);
	font-weight: bold;
	font-size: var(--text-size2);
	padding-top: 10px;
	padding-bottom: 10px;
}
.detailsBtn{
	background-color: var(--highlights3);
	border-radius: 5px;
	padding: 10px;
	flex:0.18;
	color: var(--primary);
	margin: auto;
}
.vertical-align-div{
	display: flex;
	align-items: center;
}
.detailsBtn p{
	font-size: var(--text-size);
	margin: auto;
}
.transaction-column p{
	font-size: var(--text-size);
}

.transaction-odd-column p{
	font-size: var(--text-size);
}
.vertical-line{
	border-width: 2px;
	border-radius: 1px;
	width: 2px;
	background-color: var(--secundary);
}
